<header class="header">
	<div class="header__woman">
			<img src="./img/header__woman.png" alt="">
			<img src="./img/header__woman-after.png" alt="">
		</div>
	<div class="container">
		<div class="header__top">
			<div class="logo">
				<div class="logo__img">
					<img src="./img/logo.svg" alt="">
				</div>
				<p class="logo__text">Отбеливание<br> и лифтинг</p>
			</div>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item nav__item--1">
						<a href="#" class="nav__link">Отзывы</a>
					</li>
					<li class="nav__item nav__item--2">
						<a href="#" class="nav__link">Состав</a>
					</li>
					<li class="nav__item nav__item--3">
						<a href="#" class="nav__link">Оплата и доставка</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__content">
			<div class="header__prod">
				<img src="./img/header__prod.png" alt="">
			</div>
			<div class="header__about">
				<h1 class="header__title">Крем 
					<b class="header__title-name">Milk<br> Skin</b>
				</h1>
				<h2 class="header__subtitle"><i>Белое и сияющее лицо <span class="nowrap">без единого</span> пятнышка</i></h2>
				<ul class="header__list">
					<li class="header__item header__item--1">Дарит ровный<br> фарфоровый тон</li>
					<li class="header__item header__item--2">Подтягивает<br> и тонизирует кожу</li>
					<li class="header__item header__item--3">Не вызывает<br> привыкания</li>
				</ul>
				<p class="header__root"><i>С экстрактом<br> корня диоскореи</i></p>
			</div>
			<div class="form">
				<h3 class="form__title">Закажите сейчас <span class="nowrap red">по Акции</span></h3>
				<div class="price">
					<div class="price__old">
						<p class="price__title price__title--old">Старая цена</p>
						<div class="price__value price__value--old">
							<span class="price__num price__num--old x_price__previous">1980</span>
							<span class="price__currency price__currency--old x_currency">руб</span>
						</div>
					</div>
					<div class="price__new">
						<p class="price__title price__title--new">Ваша цена</p>
						<div class="price__value price__value--new">
							<span class="price__num price__num--new x_price__current">990</span>
							<span class="price__currency price__currency--new x_currency">руб</span>
						</div>
					</div>
				</div>
				<p class="form__ends">Осталось до конца <span class="red">акции</span></p>
				<div class="timer">
					<div class="timer__item">
						<span class="hours timer__value">00</span>
						<span class="hours timer__value">00</span>
						<!-- <span class="timer__caption">Часы</span> -->
					</div>
					<div class="timer__item">
						<span class="minutes timer__value">10</span>
						<span class="minutes timer__value">10</span>
						<!-- <span class="timer__caption">Мин</span> -->
					</div>
					<div class="timer__item">
						<span class="seconds timer__value">28</span>
						<span class="seconds timer__value">28</span>
						<!-- <span class="timer__caption">Сек</span> -->
					</div>
				</div>
				<button class="btn">Заказать</button>
			</div>
		</div>
	</div>
</header>