<section class="benefits block">
	<div class="container">
		<h2 class="title">Мечтаете <b class="green">осветлить</b> лицо, чтобы </h2>
		<ul class="benefits__list">
			<li class="benefits__item">
				<div class="benefits__img">
					<img src="./img/benefits__img-1.png" alt="">
				</div>
				<p class="benefits__desc">Подчеркнуть<br> свой статус</p>
			</li>
			<li class="benefits__item">
				<div class="benefits__img">
					<img src="./img/benefits__img-2.png" alt="">
				</div>
				<p class="benefits__desc">Выглядеть<br> молодо и свежо</p>
			</li>
			<li class="benefits__item">
				<div class="benefits__img">
					<img src="./img/benefits__img-3.png" alt="">
				</div>
				<p class="benefits__desc">Получать<br> комплименты</p>
			</li>
		</ul>
		<p class="benefits__conclusion">Ваша мечта может осуществиться!</p>
	</div>
</section>