<section class="risk block wave">
	<div class="container">
		<h2 class="title">Готовы на все ради белой кожи лица?</h2>
		<div class="risk__attention">
			<h3 class="risk__attention-title">Будьте осторожны!</h3>
			<p class="risk__attention-text">Быстрый результат обещают кремы, <b><span class="nowrap">состав которых</span> вреден <span class="nowrap">для вашего</span> здоровья!</b><br> Последствия могут проявиться <span class="nowrap">и через</span> 10 лет</p>
		</div>
		<ul class="risk__list">
			<li class="risk__item">
				<div class="risk__img">
					<img src="./img/risk__img-1.png" alt="">
				</div>
				<p class="risk__desc">Выкидыш или рождение недоношенного ребенка <span class="nowrap">из-за ртути</span> </p>
			</li>
			<li class="risk__item risk__item--2n">
				<div class="risk__img risk__img--2n">
					<img src="./img/risk__img-2.png" alt="">
				</div>
				<p class="risk__desc risk__desc--2n">Черные пятна на коже, прыщи, раздражения <span class="nowrap">из-за кортикостероидов</span> <span class="nowrap">и койевой</span> кислоты </p>
			</li>
			<li class="risk__item">
				<div class="risk__img">
					<img src="./img/risk__img-3.png" alt="">
				</div>
				<p class="risk__desc">Рак кожи, молочных желез, шейки матки, легких <span class="nowrap">из-за гидрохинона</span></p>
			</li>
			<li class="risk__item risk__item--2n">
				<div class="risk__img risk__img--2n">
					<img src="./img/risk__img-4.png" alt="">
				</div>
				<p class="risk__desc risk__desc--2n">Тонкая и чувствительная кожа с регулярными шелушениями <span class="nowrap">из-за ретиноевой</span> кислоты, гидрохинона</p>
			</li>
		</ul>
		<h3 class="risk__conclusion">Отказываться от фарфоровой белизны не нужно.<br> Белая <span class="nowrap">и здоровая</span> кожа возможна <span class="nowrap">с <span class="green nowrap">Milk Skin!</span></span></h3>
		<button class="btn">Заказать</button>
	</div>
</section>