<section class="components block" id="components">
	<div class="container">
		<h2 class="title">В составе крема <span class="green nowrap">Milk Skin —</span><br> только натуральные компоненты </h2>
		<div class="dioscorea">
			<div class="dioscorea__img">
				<img src="./img/components__img-1.png" alt="">
			</div>
			<div class="dioscorea__text">
				<p class="dioscorea__par"><b class="dioscorea__par-name">Корень диоскореи</b> — кладезь полезных фитосоединений, витаминов и минералов. <span class="nowrap">Его основные</span> активные вещества — сапонины, оказывают антиоксидантный и омолаживающий эффект.</p>
				<p class="dioscorea__par">Диоскорея <b>отбеливает кожу, повышает <span class="nowrap">ее эластичность,</span> стимулирует процесс регенерации,</b> предотвращает образование угрей и камедонов, увлажняет, заживляет и улучшает внешний вид кожи.</p>
			</div>
		</div>
		<ul class="components__list">
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-2.png" alt="">
				</div>
				<div class="components__text components__text--1">
					<h3 class="components__text-title">Экстракт жемчуга</h3>
					<p class="components__text-desc">Способен отбеливать и <b>осветлять пигментные пятна,</b> предотвращать преждевременное старение кожи, стимулировать выработку коллагена.</p>
				</div>
			</li>
			<li class="components__item components__item--2">
				<div class="components__img components__img--2">
					<img src="./img/components__img-3.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Пшеница</h3>
					<p class="components__text-desc">Корректирует состояние сухой <span class="nowrap">и жирной</span> кожи. Регулярное применение <b>способствует <span class="nowrap">улучшению цвета</span> лица</b> и оказывает противовоспалительное действие</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-4.png" alt="">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Коензим А</h3>
					<p class="components__text-desc">Мощный антиоксидант, который ускоряет регенерацию клеток<br> и синтез коллагена, <b>разглаживает мелкие морщины,</b> сохраняет<br> упругость и эластичность кожи, незаменимый элемент в борьбе <span class="nowrap">против старения</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>