<section class="use block wave">
	<div class="container">
		<h2 class="title">Как применять крем <span class="nowrap green">Milk Skin</span></h2>
		<ul class="use__list">
			<li class="use__item use__item--1">
				<div class="use__img use__img--1"><img src="./img/use__img-1.png" alt=""></div>
				<p class="use__desc use__desc--1">Нанесите небольшое количество<br> средства <span class="nowrap">на очищенную</span><br> кожу утром</p>
			</li>
			<li class="use__item use__item--2">
				<div class="use__img use__img--2"><img src="./img/use__img-2.png" alt=""></div>
				<p class="use__desc use__desc--2">Продолжайте использовать<br> крем не менее 2 месяцев</p>
			</li>
		</ul>
		<div class="use__prod">
			<img src="./img/use__prod.png" alt="">
		</div>
		<button class="btn ever-popup-btn">Заказать</button>
	</div>
</section>