<section class="history block">
	<div class="container">
		<h2 class="title">Крем <span class="nowrap green">Milk Skin</span> создан на основе древнегреческих рецептов </h2>
		<div class="history__list">
			<div class="history__item history__item--before">
				<div class="history__img history__img--before"><img src="./img/history__img-1.png" alt=""></div>
				<div class="history__text history__text--before">
					<h3 class="history__title history__title--before">2 тысячи лет назад</h3>
					<p class="history__par">В 90 — 40 гг. до н.э. в Древней Греции жил фармаколог <span class="nowrap">и натуралист</span> Диоскорид. Он изучал растения и их полезные свойства. Однажды он во время прогулки по лесу наткнулся на вьющееся растение с мелкими цветочками. Это растение <span class="nowrap">и стало</span> самым ценным его открытием. Оно по сей день носит имя в честь первооткрывателя – диоскорея. Из корня этого растения <b>он создал настолько безупречное отбеливающее средство для кожи, что им тут же стала пользоваться вся знать того времени.</b> Диоскорид хотел поделиться рецептом <span class="nowrap">со всеми.</span> Но аристократы под страхом смерти велели сохранить его в тайне.</p>
				</div>
			</div>
			<div class="history__item history__item--now">
				<div class="history__img history__img--now"><img src="./img/history__img-2.png" alt=""></div>
				<div class="history__text history__text--now">
					<h3 class="history__title history__title--now">Сейчас</h3>
					<p class="history__par">В ХХ веке ученый Джон Скотт наткнулся <span class="nowrap">на фрагменты</span> загадочного пергамента.<br> Он стал их расшифровывать и не поверил своим глазам. <b>Это оказались те самые рукописи Диоскорида!</b> Скотт передал все расшифрованные записи в лабораторию. И вот на основе рецептов, которые запрещали разглашать аристократы, был создан крем.</p>
				</div>
			</div>
		</div>
		<p class="history__about">Природные свойства корня диоскореи усилили другими натуральными компонентами. Получившийся крем бережно отбеливает кожу и делает ее тон абсолютно равномерным. Результат от использования этого крема — мощнее средства Диоскорида благодаря инновационным технологиям, которых не было в Древней Греции.</p>
		<h3 class="history__conclusion">Этот крем назван <span class="green nowrap">Milk Skin.</span></h3>
	</div>
</section>