<section class="reviews block wave">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-1.png" alt="">
				</div>
				<h3 class="reviews__name">Анна, 25 лет, г. Депок</h3>
				<p class="reviews__text">В последнее время на лице стали появляться маленькие пятнышки, которые меня жутко бесили. Хотелось это исправить, но был страх сделать еще хуже. В интернете увидела <span class="nowrap">это средство</span> и решила заказать. Результат превзошел все мои ожидания, я очень довольна!<br> У крема приятный запах и он достаточно быстро впитывается. Можно наносить под косметику. </p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-2.png" alt="">
				</div>
				<h3 class="reviews__name">Полина, 26 лет, г. Медан</h3>
				<p class="reviews__text">Я, конечно, очень хочу иметь фарфоровое лицо без прыщей, <span class="nowrap">но также</span> я хочу и детей здоровых родить и сама не умереть от рака преждевременно. Поэтому на этапе выбора средства для отбеливания <span class="nowrap">я остановилась</span> на этом креме.<br> Его состав внушил мне доверие <span class="nowrap">и спустя</span> <span class="nowrap">4 месяца</span> могу сказать, что он действительно безопасный. Негативных последствий я не заметила.</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-3.png" alt="">
				</div>
				<h3 class="reviews__name">Мария, 38 лет, г. Серанг</h3>
				<p class="reviews__text">Он действительно работает! Наносила его по инструкции каждое утро <span class="nowrap">в течение</span> <span class="nowrap">2 месяцев</span> и результат <span class="nowrap">не заставил</span> себя ждать. Выгляжу <span class="nowrap">на несколько</span> лет моложе и не могу налюбоваться на себя в зеркало. Испытывать это чувство — самое большое благо для любой женщины, как по мне. </p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-4.png" alt="">
				</div>
				<h3 class="reviews__name">Sintya, 29 лет, г. Тангеранг</h3>
				<p class="reviews__text">До этого пользовалась дорогим средством, эффект от которого был на следующий день после нанесения. <span class="nowrap">Но потом</span> у меня все лицо было <span class="nowrap">в красных</span> прыщах. Еле от них избавилась. Кремом Milk Skin <span class="nowrap">я довольна</span> — прошло полгода, а мое лицо белое и без прыщей. Я словно сияю изнутри!</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-5.png" alt="">
				</div>
				<h3 class="reviews__name">Элина, 36 лет, г. Бекаси</h3>
				<p class="reviews__text">Когда-то соблазнилась на быстрый результат и сильно пожалела.<br> Кожа стала очень тонкая, чувствительная и покрылась красными пятнами.<br> Пришлось долго лечиться <span class="nowrap">у дерматолога.</span> Боялась, что история повторится, но меня подкупил натуральный состав Milk Skin. Пользуюсь им 3 месяца. Лицо стало на два тона светлее и пигментных пятен почти не осталось. А еще линии лица подтянулись и я теперь выгляжу на 25 лет!</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-6.png" alt="">
				</div>
				<h3 class="reviews__name">Маргарита, 31 год, г. Джакарта</h3>
				<p class="reviews__text">Если вам нужен быстрый результат, <span class="nowrap">то это</span> не про крем Milk Skin.<br> Он обладает скорее накопительным эффектом, который у меня стал заметен спустя 1,5 месяца. <span class="nowrap">Но я начиталась</span> страшных отзывов <span class="nowrap">в интернете,</span> поэтому пусть лучше медленнее, чем быстро и я потом потрачу кучу денег, чтобы восстановить кожу на лице.</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-7.png" alt="">
				</div>
				<h3 class="reviews__name">Лилия, 43 года, г. Богор</h3>
				<p class="reviews__text">Искала средство, которое избавило меня бы от пигментных пятен, подтянуло линии лица и разгладило морщины. Задача оказалась <span class="nowrap">не из легких,</span> потому что в составе большинства средств производители добавляют различные химические компоненты. Племянница посоветовала этот крем и я им очень довольна. Муж даже снова начал делать мне комплименты.</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-8.png" alt="">
				</div>
				<h3 class="reviews__name">Марина, 32 года, г. Маланг</h3>
				<p class="reviews__text">“Главное, чтобы не было черных пятен”, — думала я, когда начинала пользоваться этим кремом.<br> От них я избавлялась несколько <span class="nowrap">лет после</span> предыдущего неудачного опыта отбелить лицо. Я очень рада, <span class="nowrap">что мои</span> страхи не оправдались.<br> Чувствую себя красивой и уверенной. Рекомендую Milk Skin всем! Доставка, кстати, очень быстрая и оплатить можно при получении. Заказывала на этом сайте.</p>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<img src="./img/reviews__img-9.png" alt="">
				</div>
				<h3 class="reviews__name">Юлия, 28 лет, г. Сурабая</h3>
				<p class="reviews__text">От прошлого средства у меня были жуткие головные боли.<br> Я долго не могла понять в чем причина, но когда прекратила его использовать, все пришло в норму. <span class="nowrap">К выбору</span> следующего средства <span class="nowrap">я подошла</span> более ответственно. Изучила массу информации, <span class="nowrap">но остановилась</span> на Milk Skin, который мне порекомендовала подруга. У него и состав хороший.</p>
				<button class="reviews__more"></button>
			</div>

		</div>
		<p class="reviews__footnote">*Результаты использования зависят от индивидуальных особенностей</p>
		<button class="btn reviews__btn">Заказать</button>
	</div>
</section>