<section class="order block">
	<div class="container">
		<h2 class="title">Как заказать доставку крема <span class="green nowrap">Milk Skin</span></h2>
		<ul class="order__list">
			<li class="order__item">
				<div class="order__img order__img--1"><img src="img/order__img-1.png" alt=""></div>
				<div class="order__text">
					<h3 class="order__title">Заполните форму заказа</h3>
					<p class="order__desc">Укажите только свое имя<br> и номер телефона</p>
				</div>
			</li>
			<li class="order__item">
				<div class="order__img order__img--2"><img src="img/order__img-2.png" alt=""></div>
				<div class="order__text">
					<h3 class="order__title">Ответьте на звонок оператора</h3>
					<p class="order__desc">Он уточнит ваши адресные данные<br> и ответит на все вопросы о <b class="nowrap">Milk Skin</b></p>
				</div>
			</li>
			<li class="order__item">
				<div class="order__img order__img--3"><img src="img/order__img-3.png" alt=""></div>
				<div class="order__text order__text--3">
					<h3 class="order__title">Оплатите <span class="green">после получения</span></h3>
					<p class="order__desc">Никаких предоплат! </p>
				</div>
			</li>
		</ul>
	</div>
</section>