.logo {
	position: absolute;
	left: 0;
	top: -18px;
	&__img {
		width: 87px;
		height: 60px;
	}
	&__text {
		font-size: 13px;
		color: #7b7b7b;
		margin-top: 11px;
		line-height: 1.5;
	}
}

.nav {
	width: 100%;
	max-width: 546px;
	margin-right: 98px;
	margin-left: auto;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		padding-left: 44px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-image: url(../img/header__icon-1.svg);
			background-position: 50%;
			background-size: contain;
			height: 32px;
			width: 32px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
		}
		&--2::before {
			background-image: url(../img/header__icon-2.svg);
			left: 4px;
		}
		&--3::before {
			background-image: url(../img/header__icon-3.svg);

		}
	}
	&__link {
		font-size: 18px;
		padding-bottom: 1px;
		background: repeating-linear-gradient(to right, #d1d1d1 0%, #d1d1d1 100%);
	    background-repeat: repeat-x;
	    background-position: 0 100%;
	    background-size: 100% 1px;
	    transition: 0.3s;
	    &:hover {
			background-size: 100% 0px;
			transition: 0.3s;
		}
	}
}


.header {
	background-color: #f5fcff;
	background-image: url(../img/header__bg.jpg);
	background-position: -300px 0%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	padding-top: 49px;
	padding-bottom: 23px;
	margin-bottom: 300px;
    box-shadow: inset 0px -60px 80px -52px #ffffff;
	&::after {
		content: '';
		display: block;
		position: absolute;
		background-image: url(../img/wawe.svg);
		background-repeat: no-repeat;
		background-position:  -420px 0%;
		// background-size: 3100px;
		background-size: 121%;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 2650px;
		height: 22px;
		z-index: 3;
	}
	&__top {
		position: relative;
	}
	&__content {
		display: flex;
		position: relative;
		margin-top: 39px;
	}
	&__title {
		font-weight: 900;
		font-size: 49px;
		&-name {
			font-size: 110px;
			color: #9a9b9c;
			line-height: 91px;
			display: block;
			font-weight: 900;
			margin-top: 6px;
			letter-spacing: -2px;
		}
	}
	&__about {
		margin-left: auto;
		max-width: 310px;
		margin-right: 35px;
	}
	&__subtitle {
		font-size: 24px;
		line-height: 30px;
		font-style: italic;
		margin-top: 17px;
		margin-left: 5px;
	}
	&__list {
		margin-top: 27px;
	}
	&__item {
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 26px;
		font-weight: 500;
		padding-left: 72px;
		position: relative;
		margin-left: 24px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 46px;
			height: 46px;
			background-color: #7dcc60;
			border-radius: 50% 0% 50% 50%;
			left: 0;
			background-image: url(../img/check-mark.svg);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 24px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 25px;
			width: 30px;
			height: 1px;
			background-color: #e0e0e0;
			left: 32px;
			z-index: 0;
		}
		&--2 {
			&::before {
				border-radius: 0% 50% 50% 50%;
				left: -14px;
			}
			&::after {
				left: 24px;
				top: 27px;
			}
		}
		&--3 {
			&::before {
				border-radius: 50% 50% 0% 50%;
			}
			&::after {
				left: 30px;
				top: 32px;
			}
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__root {
		position: relative;
		top: 99px;
		left: 95px;
		font-size: 20px;
		line-height: 24px;
		font-style: italic;
		z-index: 5;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 332px;
			height: 233px;
			background-image: url(../img/header__root.png);
			background-repeat: no-repeat;
			background-position: 50%;
		    right: -243px;
			top: -197px;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 348px;
			height: 177px;
			background-image: url(../img/header__arrow.png);
			background-repeat: no-repeat;
			background-position: 50%;
			left: -70px;
    		top: -82px;
    		z-index: -1;
		}
	}
	.form {
		margin-top: 9px;
	}
	&__prod {
		position: absolute;
		bottom: -219px;
    	left: -7px;
		z-index: 5;
	}
	&__woman{
		position: absolute;
		bottom: 0;
		z-index: 2;
		left: 50%;
		transform: translateX(-668px);
		width: 612px;
		height: 752px;
		img {
			position: absolute;
		}
	}
}
@media screen and (max-width: 1190px){
	.header {

	}
}
@media screen and (max-width: 1023px){
	.header {

	}
}
@media screen and (max-width: 767px){
	.header {

	}       
}
@media screen and (max-width: 479px){
	.header {

	}
}

