.risk {
	background-color: #f5fcff;
	text-align: center;
	padding-top: 74px;
	padding-bottom: 96px;
	&__attention {
		background-color: #fff;
		border-radius: 136px;
		border: 2px solid #f05537;
		padding: 21px;
		padding-bottom: 29px;
		margin-top: 56px;
		width: 100%;
		max-width: 972px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 5px 5px rgba(129, 200, 231, 0.07);
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -24px;
			left: 50%;
			transform: translateX(-50%);
			height: 43px;
			width: 43px;
			border-radius: 50%;
			background-color: #f05537;
			background-image: url(../img/attention.svg);
			background-repeat: no-repeat;
			background-position: 50% 40%;
		}
		&-title {
			font-size: 21px;
			color: #f05537;
			font-weight: 500;
		}
		&-text {
			font-size: 21px;
			line-height: 28px;
			color: #444;
			margin-top: 2px;
			b {
				color: $text-black;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 46px;
		justify-content: space-between;
	}
	&__item {
		max-width: 284px;
		&--2n {
			margin-top: 50px;
		}
	}
	&__img {
		position: relative;
		max-width: 271px;
		margin-left: auto;
		margin-right: auto;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 43px;
			width: 43px;
			background-color: #f05537;
			border-radius: 50%;
			left: 50%;
			transform: translateX(-50%);
			bottom: -6px;
			top: auto;
			background-image: url(../img/exclamation-mark.svg);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 7px;
		}
		&--2n::before {
			top: -4px;
			bottom: auto;
		}
	}
	&__desc {
		font-size: 19px;
		line-height: 28px;
		color: #444;
		margin-top: 30px;
		padding: 0 10px;
		&--2n {
			margin-top: 21px;
		}
	}
	&__conclusion {
		font-size: 28px;
		line-height: 35px;
		color: $text-black;
		margin-top: 42px;
	}
	.btn {
		margin-top: 42px;
	}
}
@media screen and (max-width: 1190px){
  .risk {
  	&__attention {
  		max-width: 900px;
  		margin-top: 36px;
  		padding-bottom: 24px;
		&-title {
			font-size: 20px;
		}
		&-text {
			font-size: 20px;
			line-height: 26px;
		}
	}
	&__list {
		margin-top: 30px;
	}
  	&__item {
  		max-width: 240px;
  	}
  	&__desc {
  		padding: 0;
  		font-size: 18px;
  		line-height: 26px;
  		margin-top: 20px;
  		&--2n {
  			margin-top: 15px;
  		}
  	}
  	&__conclusion {
  		margin-top: 30px;
  		font-size: 26px;
  		line-height: 32px;
  	}
  	.btn {
  		margin-top: 30px;
  	}
  }
}
@media screen and (max-width: 1023px){
  .risk {
	&__attention {
  		max-width: 700px;
  		margin-top: 36px;
  		padding: 20px;
  		br {
  			display: none;
  		}
		&-title {
			font-size: 19px;
		}
		&-text {
			font-size: 19px;
			line-height: 1.2;
		}
	}
	&__list {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		align-items: baseline;
	}
	&__item {
		max-width: 260px;
		margin-top: 0;
		&:nth-of-type(n+3) {
			margin-top: 20px;
		}
	}
	&__desc {
		line-height: 1.35;
		margin-top: 15px;
	}
	&__conclusion {
		font-size: 22px;
		line-height: 1.2;
		margin-top: 20px;
	}
	.btn {
		margin-top: 20px;
	}
  }
}
@media screen and (max-width: 767px){
  .risk {
	&__attention {
  		max-width: 700px;
  		margin-top: 30px;
  		padding: 20px;
  		padding-bottom: 15px;
  		border-radius: 30px;
		&-title {
			font-size: 18px;
		}
		&-text {
			font-size: 18px;
		}
	}
	&__list {
		justify-content: space-around;
		margin-top: 20px;
	}
	&__item {
		max-width: 200px;
	}
	&__img {
		&::before {
			width: 34px;
			height: 34px;
			background-size: 5px;
		}
	}
	&__desc {
		font-size: 16px;
		line-height: normal;
	}
	&__conclusion {
		font-size: 19px;
	}
  }
}
@media screen and (max-width: 479px){
  .risk {
	&__attention {
  		margin-top: 25px;
  		padding: 5px;
		padding-top: 15px;
		padding-bottom: 10px;
  		border-radius: 30px;
  		&::before {
  			width: 34px;
  			height: 34px;
  			background-size: 24px;
  			top: -19px;
  		}
		&-title {
			font-size: 16px;
		}
		&-text {
			font-size: 16px;
			line-height: normal;
		}
	}
	&__item {
		&:nth-of-type(n+2) {
			margin-top: 20px;
		}
	}
	&__img {
		&::before {
			bottom: auto;
			top: 0;
		}
	}
	&__desc {
		margin-top: 6px;
	}
	&__conclusion {
		font-size: 17px;
		br {
			display: none;
		}
	}
  }
}