.header-bottom {
	padding-bottom: 64px;
	margin-bottom: 193px;
	&::before {
		top: -17px;
	}
	&::after {
		height: 24px;
		bottom: -2px;
	}
	.form {
	  margin-right: 71px;
	  width: 270px;
	  margin-top: 13px;
	  padding: 0;
	  padding-bottom: 9px;
	  &__title {
	  	font-size: 23px;
	  	font-weight: 500;
	  }
	  &__today {
	  	font-size: 24px;
	  	font-weight: 700;
	  	line-height: 28px;
	  }
	  &__lastpack {
	  	line-height: 22px;
	  }
	  .lastpack {
	  	color: #92b069;
	  	font-weight: 500;
	  }
	}
	.price {
		padding-bottom: 8px;
		&::after {
			display: none;
		}
		&__num--new {
			font-size: 44px;
		}
	}
	.btn {
		max-width: 220px;
		margin-top: 0;
		font-size: 27px;
		padding-top: 5px;
		padding-bottom: 7px;
	}
	.header {
		&__content {
			margin-top: 35px;
		}
		&__about {
			margin-right: 52px;
		}
		&__subtitle {
			margin-top: 23px;
		}
		&__list {
			margin-top: 36px;
		}
		&__root {
			bottom: -196px;
			right: 454px;
			i {
				background-color: #fff;
			}
			&::before {
				background-size: contain;
				width: 294px;
				right: -244px;
				top: -191px;
			}
			&::after {
				left: -89px;
    			top: -125px;
			}
		}
		&__woman {
			bottom: -23px;
			transform: translateX(-726px);
			&-img {
				background-position: 50% 50%;
				height: 730px;
			}
		}
		&__prod {
			bottom: -266px;
			left: -68px;
		}

	}
}
@media screen and (max-width: 1500px){
  .header-bottom {
  	.header {
  		&__woman-img  {
  			background-position: 50% 0%;
  		}
  	}
  }
}
@media screen and (max-width: 1330px){
  .header-bottom {
  	.header {
  		&__prod {
  			left: 0px;
  			max-width: 500px;
  		}
  		&__root {
  			&::after {
  				left: -70px;
  			}
  		}
  	}
  }
}
@media screen and (max-width: 1190px){
  .header-bottom {
  	margin-bottom: 120px;
  	.form {
  		margin-right: 0;
  	}
	.header {
		&__about {
			margin-right: 20px;
		}
		&__prod {
			bottom: -164px;
		}
		&__root {
			&::before {
				right: -300px;
			}
		}
		&__woman {
			transform: translateX(-594px);
			bottom: 0;
			width: 510px;
			&-img {
				height: 100%;
				background-position: 50% 100%;
			}
		}
	}
  }
}
@media screen and (max-width: 1023px){
	.header-bottom {
		background-size: cover;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 0;
		.header {
			&__content {
				margin-top: 0;
			}
			&__title {
				&-name::before {
					width: 100%;
					left: 20px;
				}
			}
			&__subtitle {
				margin-top: 10px;
			}
			&__about {
				max-width: 400px;
				margin-left: 0;
				margin-right: 0;
			}
			&__list {
				display: block;
				margin-top: 20px;
				br {
					display: none;
				}
			}
			&__item {
				&:nth-of-type(n+2) {
					margin-top: 20px;
				}
			}
			&__prod {
				position: absolute;
				left: 60px;
				bottom: -26px;
			}
			&__root {
				bottom: -20px;
				left: 100px;
				display: none;
				i {
					background: none;
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.header-bottom {
		padding-top: 30px;
		padding-bottom: 30px;
		.header {
			&__title {
				&-name::before,
				&-cream::before {
					display: none;
				}
			}
			&__prod {
				position: static;
			}
			&__root {
				display: block;
			}
		}
	}
}
@media screen and (max-width: 479px){

}