doctype html
html
  head
    meta(charset="utf-8")
    title Купить Milk Skin недорого. Цены, отзывы. Закажите Milk Skin сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext,greek-ext,vietnamese" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body(class="timer-different")
    include ../common/A_header.html
    include ../common/B_benefits.html
    include ../common/C_risk.html
    include ../common/D_components.html
    include ../common/E_use.html
    include ../common/F_history.html
    include ../common/G_reviews.html
    include ../common/H_order.html
    include ../common/I_header-bottom.html
    include ../common/J_footer.html
    include ../common/K_popup.html
    
    
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/jquery.event.move.js')
    script(src='js/jquery.twentytwenty.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')
